
@{
    ViewData["Title"] = "Cubing";
}



<!DOCTYPE HTML>

<html>

<head>

    <Title> Cubing </Title>

    <!-- Title of the page-->
    <title>Index Page</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />

</head>

<body>]
    <!-- Header of the page-->
    <h1> Cubing </h1>

    <ul>
        <!-- Links to the other pages-->
        <li><a href="~/Home">Home</a></li>
        <li><a href="~/Home/Info">Information</a></li>
        <li><a href="~/CharacterProgressions">Track Your Gear!</a></li>
        <li><a href="~/Home/SetEffects">Gear Set Effects</a></li>
        <li><a href="~/Home/Starforce">Starforcing</a></li>
    </ul>

    <h6>
        <!-- Description of the page-->
        <img src="~/Images/blackcubes.jpg" width="500" /><br><br>
        Hello! This is to help you get a better understanding of how to cube. As mentioned in the information page, you use cubes to enhance the potential on your gear and
        aim for stats that are benificial to the class you play. Some classes will need int% while other classes will need str%, you can get these stats from cubing. However, there
        are different variants of cubes. Some cubes have a higher chance to increase the rank of the potential than others. The rank of the potential goes as follows, from worst to best,
        rare, epic, unique and legendary. There are also some cubes that you cannot use if your gear has a certain potential rank already. For example. if your gear is already legendary
        then you would not be able to use the Master Craftman cubes, which only work on gear that has unique potential or lower. The best cubes to buy is the Black cube, which allows you
        to choose between keeping the stats you already have on your gear and the stats you just rolled, every other cube in the game just re-rolls the stats you have on your equipment right away.
        Due to the black cubing have the highest rate of tiering up to the next rank, it also costs the most. You must choose which cubes to buy carefully !<br><br>


    </h6>


</body>


</html>
