@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE HTML>
<!-- Website Logo Image Reference-->
<img src="~/Images/logo.PNG" width="100" />
<html>


<head>
    <!-- Title of the page-->
    <title>Index Page</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />

</head>

<body>
    <!-- Header of the page-->
    <h1>Maplestory Gear Tracker</h1>

    <ul>
        <!-- Links to the other pages-->
        <li><a href="~/Home/Info">Information</a></li>
        <li><a href="~/CharacterProgressions">Track Your Gear!</a></li>
        <li><a href="~/Home/SetEffects">Gear Set Effects</a></li>
        <li><a href="~/Home/Cubing">Cubing</a></li>
        <li><a href="~/Home/Starforce">Starforcing</a></li>

    </ul>
    <!-- Description of the page-->
    <h4>
        Hello, welcome to the Maplestory Gear Tracker, a website commited to making it easier for maplers to keep track of which gear they need to upgrade and work on.
        As you may know, Maplestory has a huge variety of stats and potentials in which you can upgrade your gear, that's why this website will help you do all that with ease.
    </h4>

</body>


</html>
