
@{
    ViewData["Title"] = "Info";
}

<!DOCTYPE HTML>

<html>

<head>
    <!-- Title of the page and links to css style sheet-->
    <title>Information Page</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />

</head>

<body>
    <!-- Title that gets displayed on the page-->
    <h1>Information Page</h1>

    <ul>
        <!-- Links to the other pages-->
        <li><a href="~/Home">Home</a></li>
        <li><a href="~/CharacterProgressions">Track Your Gear!</a></li>
        <li><a href="~/Home/SetEffects">Gear Set Effects</a></li>
        <li><a href="~/Home/Cubing">Cubing</a></li>
        <li><a href="~/Home/Starforce">Starforcing</a></li>

    </ul>
    <!-- Page description along with links to some of the other pages that are talked about in the description-->
    <p>
        This is to help you get a better understanding of which gear is essential to make you stronger and defeat those tough bosses.
        Different types of gear will give you various set effects, some gear will give you no set effect while others will. The gear in the game that do have
        set effects have different stats depending on the gear, in order to achieve the maximum damage with the set effect you have on, you must choose the correct set
        effect based on your level and accessibility. The set effects will be explained in detail on the <a href="~/Home/SetEffects">Gear Set Effects</a> page with visuals to help you get a better understanding.<br><br>
        <img src="~/Images/Unlimited_UI_Equip.png"><br>

        ___________________________________________________________________________________________________________________________________________________________________________________________________<br><br>


        Once you have explored into the world of gear set effects, its time to experience the wonders of <a href="~/Home/Cubing">Cubing</a>. What cubing refers to is a cube that you can use to reset
        or upgrade the potential of a piece of gear you are using or have in your inventory. If you're wondering what potential is, it is the extra stats at the very bottom of a piece of gear
        that you can unlock with certain items in the game. There are examples of potential in the <a href="~/Home/SetEffects">Gear Set Effects</a> page, it is in the first and second picture.
        You can buy different variants of cubes to change the potential you've gotten by default when you unlocked it and the goal is to aim for certain stats that will benifit the class
        you play.<br><br>
        <img src="~/Images/coob.jpg" /><br>

        ____________________________________________________________________________________________________________________________________________________________________________________________________<br><br>

        Finally, we have <a href="~/Home/Starforce">Starforcing</a>. Starforcing is using a certain amount of in game currency (meso) to enhance your gear with stars. The max amount of stars a single piece of gear can go
        up to is 25. The price of each star will go up as you are enhancing it and the likely hood of the star successfully passing to the next star will go down. There is a set % chance of each star
        succeeding, the lower the amount of stars the piece of gear is at, the higher the chance of it passing. However, once you reach 15 stars, the piece of gear you are enhancing above 15 stars has the change to 
        blow up(destroyed). The % chance of an item blowing up is very low, usually around 0.7-5%, but just like how the success rate of the star force goes down as you gain more stars, the destruction rate of the equip
        will get higher which makes it increadibly hard to get gear with a high amount of stars. This is why it is important to have several duplicates of your gear so that if it were to blow up during starforcing, you can always
        use the duplicate version which wont be as good as the one that blew up, but a good place holder.<br><br>
        <img src="~/Images/starforce.png" />
    </p>


</body>


</html>