
@{
    ViewData["Title"] = "SetEffects";
}

<!DOCTYPE HTML>

<html>

<head>

    <!-- Title of the page-->
    <title>Set Effects</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />

</head>


<body>
    <!-- Header of the page-->
    <h1>
        Gear Set Effects
    </h1>

    <!-- Links this page to the other ones-->
    <ul>
        <li><a href="~/Home">Home</a></li>
        <li><a href="~/Home/Info">Information</a></li>
        <li><a href="~/CharacterProgressions">Track Your Gear!</a></li>
        <li><a href="~/Home/Cubing">Cubing</a></li>
        <li><a href="~/Home/Starforce">Starforcing</a></li>
    </ul>

    <h4>
        Example of a set effect
    </h4>
    <!-- Links to an image to display and changes the width-->
    <img src="~/Images/example.jpg" width="650" />
    <!-- Page description-->
    <h6>
        The above image represents the AbsoLab gear and set effect. This set effect and gear is what you would be using till you are able to get the Arcane Umbra set effect,
        which we will talk about later. The reason this set effect is the best until you reached a very high point in the game is because it is fairly easy to get since there
        are many people that are able to carry through the tough bosses that drop it and it only takes about 2 weeks to get compared to the 6 months it takes to get the Arcane Umbra.
        You can get this AbsoLab gear by doing your Scrapyard dalies along with the Dark World Tree dalies, you must also defeat or have someone else defeat the bosses Lotus and Damien.<br><br>

        ___________________________________________________________________________________________________________________________________________________________________________________<br><br>


        Next we will talk about the Chaos Root Abyss Gear(CRA).<br>
        <img src="~/Images/cra.jpg" /><br>

        CRA gear is the absolute best and easiest gear to get at the lower levels, ranging from 180-250+. The main reason CRA gear is so important is due to the easy accessibility of it 
        and how quick you can get it. You get CRA gear by defeating the 4 Root Abyss bosses in Chaos Mode. They each drop a different piece of gear, Chaos Queen drops the hat, Chaos Pierre
        drops the bottom(pants), Chaos Von Bon drops the top(shirt) and Chaos Vellum drops the weapon which is shown in the image above. Vellum is the hardest boss to defeat of the 4 because he 
        drops the weapon and that gives the most damage boost compared to the rest of the set.

    </h6>

</body>

</html>

