
@{
    ViewData["Title"] = "Starforce";
}


<!DOCTYPE HTML>
<html>

<head>

    <!-- Title of the page and links to css style sheet-->
    <title>Index Page</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />

</head>

<body>
    <!-- Header of the page-->
    <h1>StarForce</h1>
    <!-- Links to the other pages-->
    <ul>
        <li><a href="~/Home">Home</a></li>
        <li><a href="~/Home/Info">Information</a></li>
        <li><a href="~/CharacterProgressions">Track Your Gear!</a></li>
        <li><a href="~/Home/SetEffects">Gear Set Effects</a></li>
        <li><a href="~/Home/Cubing">Cubing</a></li>

    </ul>
    <!-- Links to an image to be displayed on page-->
    <img src="~/Images/sf.jpg" /><br><br>
    <!-- Page Description-->
    <h6>
        Starforcing is the most expensive thing in the game when it comes to getting stronger and upgrading your gear. It will cost billions of mesos to get to a certain amount of
        stars because the likely-hood of the stars passing is very low once you reach a higher amount of stars. The reason star forcing costs so much is because it can increase your damage output
        the most unlike any other enhancing method in the game. Starforcing is very important but you should only focus on it once you reach late game. At lower levels, simply keeping your gear at
        10 stars is good enough to last you a while, but as you hit the later levels around 215-220+, it's important to go for higher stars and try to reach 15-17 stars. The reason you stop at 17
        is because after you reach 17 stars, your gear will be introduced to the chance of destruction, which will destory your gear and all the stars you had on it along with any other potential you've
        gotten on it from cubing. So, when it comes to star forcing, always be sure to have duplicates if you are going for anything above 17 stars and make sure to star force equipment
        that you will be using for a long time !
    </h6>
</body>

</html>